{% extends "base.html" %}
{% load util_tags %}

{% block title %}{{request.user}} &middot; profile {% endblock title %}
{% block content %}
{% load static %}
{% load cloudinary %}
    <div class="banner_container">
        <img src="{% get_random_img %}" class="banner_img img-fluid" alt="" srcset="">
    </div>
    <div class="container user_container">
        <div class="d-flex justify-content-center detail_bar">
            <img src="
            {% if request.user.userextend.get_profile_pics|length > 0 %}
            {{request.user.userextend.get_profile_pics.first.img.url}}
            {% else %}
            {% static user.userextend.get_avatar_url %}
            {% endif %}" 
            class='img-thumbnail img-fluid rounded-circle user_img shadow' alt="">
        </div>
        <div class="text-center bg-white rounded mt-2 shadow-sm py-3">
            <h2 class="display-4">{{request.user.get_full_name}} <a href="{% url 'registration:updateprofile' pk=request.user.pk %}" style="font-size:15px;"><i class="fas fa-cog"></i></a></h2>
            <cite>{{user}}</cite>
            <blockquote class="blockquote text-center">
                <p class="mb-0">{{request.user.userextend.aboutMe}}</p>
                <footer class="blockquote-footer">{{user}}</footer>
            </blockquote>
            <div class="row p-2">
            {% if user == request.user %}
            <div class="col-4">
                    <a href="{% url 'registration:myphotos' %}?pk={{user.pk}}" class="btn btn-block btn-outline-primary">
                        <i class="far fa-image"></i>
                        <span class="d-none d-md-inline-block">Photos</span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="{% url 'registration:bookmark' %}" class="btn btn-block btn-outline-secondary">
                        <i class="far fa-bookmark"></i>
                        <span class="d-none d-md-inline-block">Bookmarks</span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-block btn-outline-success">
                        <i class="far fa-newspaper"></i>
                        <span class="d-none d-md-inline-block">Posts</span>
                    </a>
                </div>
            {% endif %}
            </div>
        </div>

        <div class="bg-white rounded mt-2 shadow-sm py-3">
            <h2 class="display-4 text-center">Recent Posts</h2>
            {% if user == request.user %}
                <div class="d-flex flex-column">
                    <div class="mx-auto">
                    {% for post in post_list reversed %}
                        {% include "post/post_card_v2.html" with post=post %}
                    {% empty %}
                        <p class="lead text-center">NO POSTS YET.</p>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        
    </div>
{% endblock content %}