{% extends "base.html" %}

{% block content %}
{% load static %}
{% load widget_tweaks %}
<div class="container-fluid bg-1 bg">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="card shadow mt-5" style="max-width:550px">
                <h3 class="text-center my-1">Sign up here</h3>
                <hr>
                <div class="card-body">
                    <div class="card-text">
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class='alert alert-danger p-1'>{{error}}</div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group row  p-0 m-0 m-md-2">
                                <div class="col-sm-3 col-form-label">{{field.label_tag}}</div>
                                <div class="col-sm-9">
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <div class='alert alert-danger p-1'>{{error}}</div>
                                        {% endfor %}
                                    {% endif %}
        
                                    {% render_field field|append_attr:'class:form-control form-control-sm' data-toggle='popover' data-trigger="focus" data-content=field.help_text|safe %}
                                    {% if field.help_text %}
                                    <small class="form-text text-muted d-none d-md-inline">
                                        {% autoescape off %}{{field.help_text}}{% endautoescape %}
                                    </small>
                                    {% endif %} 
                                </div>
                                
                            </div>
                            {% endfor %}
                            <div class="form-group form-check row mt-1">
                                <div class="col-12">
                                        <input type="checkbox" class="form-check-input" id="Remember">
                                        <label class="form-check-label" for="Remember">
                                            Accept Terms &amp Conditions
                                        </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">Sign up</button>
                            or 
                            <a class="btn btn-secondary btn-sm" href="{% url 'user_login' %}">Login</a>
        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}