{% extends "base.html" %}
{% load util_tags %}
{% block title %}{{user}} &middot; profile {% endblock title %}

{% block content %}
{% load static %}
    <div class="banner_container">
        <img src="{% get_random_img %}" class="banner_img img-fluid" alt="" srcset="">
    </div>
    <div class="container user_container px-0 px-lg-2">
        <div class="d-flex justify-content-center detail_bar">
            <img src="
            {% if user.userextend.get_profile_pics|length > 0 %}
            {{user.userextend.get_profile_pics.first.img.url}}
            {% else %}
            {% static user.userextend.get_avatar_url %}
            {% endif %}" 
            class='img-thumbnail img-fluid rounded-circle user_img shadow' alt="">
        </div>
        <div class="text-center bg-white rounded mt-2 shadow py-3 mx-3 mx-lg-0">
            <h2 class="display-4">{{user.get_full_name}}  
            {% if request.user != user and user.userextend.protected != '1'%}
            <small><input type="button" id="follow_btn" onclick="follow({{user.pk}}, '{{ csrf_token }}')"
                {% if user in request.user.userextend.get_following %}
                    class="btn btn-sm btn-outline-danger"
                    value='Unfollow'
                {% else %}
                    class="btn btn-sm btn-outline-primary"
                    value="Follow"
                {% endif %}>
            </small>
            {% elif request.user == user %}
            <a href="{% url 'registration:updateprofile' pk=request.user.pk %}" style="font-size:15px;"><i class="fas fa-cog"></i></a>
            {% endif %}
            </h2>
            <cite>{{user}}</cite>
            <blockquote class="blockquote text-center">
                    <small class="mb-0">{{user.userextend.aboutMe}}</small>
                    <footer class="d-block">
                        {% if user.userextend.facebook %}
                        <a href="{{request.user.userextend.facebook}}" class="btn btn-sm" style="color:#4867aa" target="_blank"><i class="fab fa-2x fa-facebook-square"></i></a>
                        {% endif %}
                        {% if user.userextend.twitter %}
                        <a href="{{request.user.userextend.twitter}}" class="btn btn-sm" style="color:#1da1f2" target="_blank"><i class="fab fa-2x fa-twitter-square"></i></a>
                        {% endif %}
                    </footer>
            </blockquote>
            <div class="row p-2">
            {% if user.userextend.protected == '3' or user == request.user or user.userextend.protected == '2' and user in request.user.userextend.get_following %}
            
                <div class="col-4">
                    <a href="{% url 'registration:myphotos' %}?pk={{user.pk}}" class="btn btn-block btn-outline-primary">
                        <span class="d-none d-md-inline-block">Photos</span>
                        <i class="far fa-image d-md-none"></i>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-block btn-outline-secondary">
                        <span class="d-none d-md-inline-block">Followers</span>
                        <i class="far fa-star d-md-none"></i>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-block btn-outline-success">
                        <span class="d-none d-md-inline-block">Posts</span>
                        <i class="far fa-newspaper d-md-none"></i>
                    </a>
                </div>
            {% else  %}
                {% if user.userextend.protected != '1' %}
                <div class="col-12">
                    <p class="text-danger">{{user.get_full_name}} has a private account, You must follow to see Photos, Article and Posts</p>
                </div>
                {% else %}
                <div class="text-center px-3">
                    <img src="{% static 'registration/imgs/rushp.png' %}" alt="Rush Protection" class="img-fluid" style="max-width:150px;"><br>
                    <p class="lead">Sorry! The Account owner has an active <span class="text-primary">Rush</span><span class="text-warning">Protection</span> lock.
                    you cannot follow this account or read its posts.</p>
                </div>
                {% endif %}
                
            {% endif %}
            </div>
        </div>
<!-- post lists -->
        <div class="bg-white rounded mt-2 shadow-sm py-3">
            <h2 class="display-4 text-center">Recent Posts</h2>
            {% if user == request.user or user.userextend.protected == '3' or user in request.user.userextend.get_following %}
                <div class="d-flex flex-column">
                    <div class="mx-auto">
                        {% for post in post_list reversed %}
                            {% include "post/post_card_v2.html" with post=post %}
                        {% empty %}
                        <p class="lead text-center">NO POSTS YET.</p>
                        {% endfor %}
                        <p class="text-center text-muted">Thats all for now...</p>
                    </div>
                </div>
            {% else  %}
                {% if user.userextend.protected != '1' %}
                <div class="text-center">
                    <p class="text-danger">{{user.get_full_name}} has a private account, You must follow to see recent posts.</p>
                </div>
                {% else %}
                <div class="text-center px-3">
                    <img src="{% static 'registration/imgs/rushp.png' %}" alt="Rush Protection" class="img-fluid" style="max-width:150px;"><br>
                    <p class="lead">Sorry! The Account owner has an active <span class="text-primary">Rush</span><span class="text-warning">Protection</span> lock.
                    you cannot follow this account or read its posts.</p>
                </div>
                {% endif %}
            {% endif %}
        </div>
        
    </div>
{% endblock content %}