body,html {overflow-x: hidden;height: 100%}

.popover-body {padding:0}
.pop-img {
    object-fit: cover;
    object-position: top;
}

.detail-title {font-weight: 700;}

.st-logo {display: none}
.nofocus:focus {
    box-shadow: unset;
    outline-style: none;
}
.btn.active:focus {outline: none;}


.dropdown-toggle::after {
display: none;
}
.post-extend-user-img {
    width: 60px;
    height: 60px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.post-user-img {
    width: 40px;
    height: 40px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.bookmark-user-img {
    width: 40px;
    height: 40px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.bookmark-img {
    height:200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.post-username {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.post-since-time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
}
.post-front-img {
    max-height: 720px;
}

.post-card_link:hover {
    text-decoration: None;
}
.post-comment-text {
    font-size: 15px;
}
.post-card-mw {
    width: 100%;
}
@media only screen and (min-width:720px) { /*medium*/
    .post-card-mw {
        width: 80vw;
    }
    .post-comment-text {
        font-size: 18px;
    }
}
@media only screen and (min-width:992px) { /*large*/
    .post-card-mw {
        width: 50vw;
    }
}
@media only screen and (min-width:1140px) { /*xlarge*/
    .post-card-mw {
        width: 40vw;
    }
}
.link-no-style{color: black;}

/* navbar */

@media only screen and (min-width:720px) {
    .w-md-50 {width:50%;}
}

div#search_sync {
    position: absolute;
    z-index: 21;
    width: 100%;
    top:5px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    display: none;
}

/* login/signup html */
.bg-1 {
    background: attr(data-img url);
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

label[for=''] {
    width: 100%;
    height: auto;
    
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: absolute; */
    
}

#img_uploader {
    /* #e5edf1   #c8dadf */
    background-color: #e5edf1;
    width: 100%;
    height:25vh;
}

.inner_block {
    outline: 2px dashed #9aaeb2;
    outline-offset: -10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.avatar_block {
    background-color: #c8dadf;
}
.avatar_block:hover {
    background-color: #faf6f6;
}

.profile_block {
    background-color: #c8dadf;
}

.profile_block:hover {
    background-color: #faf6f6;
}
.avatar_notactive {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* detail view user */
.banner_container{
    position: fixed;
    width: 100%;
    z-index: -1;
}

.user_container{
    position: relative;
    top:30vw;
    
}

@media (min-width: 768px) { 
    .banner_container{
        position: fixed;
        width: 90%;
        left: 5%;
        z-index: -1;
    }
    .user_container{
        top:25vw;
    }
}

@media (min-width: 992px) { 
    .banner_container{
        position: fixed;
        width: 80%;
        left: 10%;
        z-index: -1;
    }
    .user_container{
        top:20vw;
    }
}

@media (min-width: 1200px) { 
    .banner_container{
        position: fixed;
        width: 70%;
        left: 15%;
        z-index: -1;
    }
    .user_container{
        top:15vw;
    }
}


.detail_bar{
    height: 25vmin;    
}

.user_img {
    position: relative;
    z-index: 2;
    display: inline-block;
    height: 100%;
    /* bottom: 50%; */
}

/* photos.html */

.photo {
    max-width:20vw;
    
}
.card-columns {
    column-count: 2;
}
.card-columns-bookmark {
    column-count: 1;
}
@media (min-width: 576px) {

}
@media (min-width: 768px) { 
    .card-columns {
        column-count: 3;
    }
    .card-columns-bookmark {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) { 
    .card-columns {
        column-count: 5;
    }
    .card-columns-bookmark {
        column-count: 3;
    }
}

/* post extend share panel */
#share_panel {display: none;}

/* post card extend comment box */
#comment-box {
    max-height: 250px;
    overflow-y: hidden;
}

#comment-box-opener {
    cursor: pointer;
}

@media only screen and (max-width:720px) { /*medium*/
    .display-4 {font-size: 2.5rem;}
    #post-content img {
        padding:auto 0px;
        margin: auto 0px;
    }
}

/* .first-big ::first-letter {
  float: left;
  font-size: 3.5rem;
  line-height: 60px;
  margin-top: 10px;
  padding-right: 3px;
  padding-left: 3px;
} */

.first-big {
    font-family: 'Noto Serif', serif;
    font-size: 1.2rem;
}

/* home.html */

#left-bar {
    width: 300px;
    height:100%;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    top: 40px;
    z-index: 2000;
}
#left-toggle {cursor: pointer;color: lightgray}
#left-toggle:hover {color: white}
@media only screen and (max-width:720px) { /*medium*/
    #left-bar {
        width: 100%;
    }
}



/* fonts */
.text-ns {font-size: 16px !important;}
.text-sm {font-size: 14px;}
.text-xs {font-size: 12px;}
.text-fluid p {

}
.display-f{
    font-size: 3rem;
}
@media (min-width: 768px) { 
    .text-fluid p {

    }
    .display-f{
        font-size: 3.5rem;
    }
}

@media (min-width: 992px) {
    .text-fluid {
        
    }
    .display-f{
        font-size: 4.5rem;
    }
}

@media (min-width: 1300px) { 
    .text-fluid {
        
    }
    .display-f{
        font-size: 6rem;
    }
}


/* post extend content blockquote */
blockquote {
    font-family: 'Roboto Slab', serif;
}

.z-back {z-index: 0;}

button[class*='btn-outline-']:not(:disabled):not(.disabled).active:focus, .button[class*='btn-outline-']:not(:disabled):not(.disabled):active:focus, .show > button[class*='btn-outline-'].dropdown-toggle:focus {box-shadow: unset;}
#st-1.st-center, #st-1 .st-btn[data-network="sharethis"] {margin: 0 2px;}

a:link {text-decoration: none }
.hover-line:hover {text-decoration: underline !important}

[id*="post_id_"] {cursor: pointer;}
[id*="st-"] {z-index: 0;}

.slider {
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1019;
}

.slider a {
    display: inline-block;
    color:gray;

}

.slider a:hover {
    text-decoration: none;
    background:#eee;
}

.slider a.active {
    border-bottom:2px solid #17a2b8;
    color:#17a2b8;
}



.font-main {font-family: 'Roboto Slab', serif;}
.font-secondary {font-family: 'Vidaloka', serif;}

.navbar-brand {text-shadow:2px 1px rgba(0,0,0,.15);}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-moz-selection { /* Code for Firefox */
    background: #1dc3dd;
}

::selection {
    background: #1dc3dd;
}

.cursor {cursor: pointer;}