{% extends 'base.html' %}
{% block title %}{{request.user}}(5) &middot; Blog Home{% endblock title %}

{% block content %}
<div class="container mt-5 px-0">
    {% for i in post_list %}
        {% include "post/post_card.html" with post=i %}
    {% empty %}
    <div class="d-flex flex-column mx-2 ">
        <p class="mx-auto">Humm... it seems you donot follow anyone yet. No problem Let follow some click below or Read some of the best articles around the world.</p>
        <div class="mx-auto d-block">
            <a href="#" class="btn btn-primary">Search Peoples</a>
            <a href="#" class="btn btn-primary">Top articles</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}