{% extends 'base.html' %}
{% block title %}{{request.user}}(5) &middot; Blog Home{% endblock title %}

{% block content %}
<div class="container mt-5 px-0">
    <div class="d-flex flex-column">
        
        {% for i in post_list %}
        <div class="">{% include "post/post_card_v2.html" with post=i %}</div>
            
        {% empty %}
        <div class="mx-2 ">
            <p class="mx-auto">Humm... it seems you donot follow anyone yet. No problem Let follow some click below or Read some of the best articles around the world.</p>
            <div class="mx-auto d-block">
                <a href="#" class="btn btn-primary">Search Peoples</a>
                <a href="#" class="btn btn-primary">Top articles</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}