{% load static %}
<div id="left-bar" class="bg-info shadow text-white" style="display:none">
    <div class="list-group mt-2  border-0 font-main">
        <a href="/" class="list-group-item list-group-item-action rounded-0"><i class="fas fa-home"></i> Home</a>
        <a href="{% url 'trending' %}" class="list-group-item list-group-item-action"><i class="fas fa-fire"></i> Trending</a>
        <a href="{% url 'registration:bookmark' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"><span><i class="far fa-bookmark"></i> Bookmarks</span> 
            <span class="badge badge-info badge-pill">{{request.user.bookmarks.all|length}}</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-newspaper"></i> Posts</a>
        <a href="#" class="list-group-item list-group-item-action rounded-0"><i class="fas fa-images"></i> Photos</a>
    </div>
    <div class="list-group mt-2 font-weight-bold px-2">
        Your Network 
    </div>
    <div class="list-group mt-2 border-0 font-main">
        {% for u in request.user.userextend.get_following %}
        <a href="{% url 'registration:userprofile' pk=u.pk %}" class="list-group-item list-group-item-action d-flex p-1 rounded-0">
            <div class="border bookmark-user-img rounded-circle d-inline-block" style="background-image: url('{% if u.userextend.get_profile_pics|length > 0 %}{{u.userextend.get_profile_pics.first.img.url}}{% else %}{% static u.userextend.get_avatar_url %}{% endif %}');"></div>
            <div class="d-inline-block pl-2 w-100">
                <div class="d-block">{{u.get_full_name}}</div>
                <div>
                    <span class="d-inline-block border-right pr-2 text-warning">Followers: {{u.userextend.get_followers|length}}</span>
                    <span class="d-inline-block border-right pr-2 text-info">Following: {{u.userextend.get_followings|length}}</span>
                    <span class="d-inline-block text-primary">Posts: {{u.post_set.all|length}}</span>
                </div>
            </div>
        </a>
        
        {% endfor %}
    </div>
    <div class="text-center mt-1">
        <small class="d-block">RushTime Blogs &copy; {% now 'Y' %}</small>
    </div>
</div>