{% extends "base.html" %}
{% block title %}
Delete Post - {{post.title}}
{% endblock title %}

{% block content %}
    <div class="container mt-5 d-flex mb-2 mx-0">
        <div class="row">
            <div class="mx-auto col-lg-3 pb-2">
                <h2 class="text-center">Delete Post confirm?</h2>
                <form method="post" class="text-center">
                    {% csrf_token %}
                    <a href="{% url 'registration:myprofile' %}#id_post_{{post.pk}}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Go Back</a>
                    <button type="submit" class="btn btn-danger">Delete confirm</button>
                </form>
            </div>
            <div class="col-lg-9">
                {% include "post/post_card_v2.html" %}
            </div>
        </div>
    </div>
{% endblock content %}