{% load static %}
<div class="card rounded-0 post-card-mw my-2" id="id_post_{{post.id}}">
    <div class="card-header py-1 px-0">
        <div class="row m-0">
            <div class="col-10"> 
                <div class="d-flex ">
                    <a href="
                    {% if post.user == request.user %}
                    {% url 'registration:myprofile' %}
                    {% else %}
                    {% url 'registration:userprofile' pk=post.user.pk %}
                    {% endif %}
                    ">
                     <div class="border post-user-img rounded-circle" 
                        {% if post.user.userextend.get_profile_pics|length > 0 %}
                            style="background-image: url('{{post.user.userextend.get_profile_pics.first.img.url}}');"
                        {% else %}
                            style="background-image: url('/static/registration/imgs/user.png');"
                        {% endif %}

                        >
                    </div>
                    
                    </a>
                    <div class="flex-column justify-content-start ml-2">
                        <p class="post-username"><a href="
                            {% if post.user == request.user %}
                            {% url 'registration:myprofile' %}
                            {% else %}
                            {% url 'registration:userprofile' pk=post.user.pk %}
                            {% endif %}" data-user='{{ post.user.username }}' onmouseover="pop(this)"
                     class="link-no-style">{{post.user.get_full_name}}</a> <span class="text-muted d-none d-md-inline text-capitalize">programmer by heart</span></p>
                        <p class="post-since-time text-muted p-0">about {{ post.created_on|timesince }} ago <span>&middot; {{ post.get_read_time }} min read</span></p>
                        
                    </div>   
                </div>
            </div>
            <div class="col-2">
                <div class="d-flex justify-content-end">
                    {% if post.user == request.user %}
                    <button onclick="draft({{post.id}}, '{{csrf_token}}')" class="btn btn-outline-info btn-sm mr-2 {% if post.draft %}active{% endif %}"
                    title="Draft" id="draft_{{post.pk}}">{% if post.draft %} <i class="fas fa-lock"></i> {% else %} <i class="fas fa-unlock"></i> {% endif %}</button>
                    {% endif %}

                    <button onclick="bookmark({{post.id}})" class="btn btn-outline-success btn-sm
                    {% if post.pk in request.user.userextend.get_bookmarks %}
                    active
                    {% endif %}
                    " title="Bookmark" id="bookmark_{{post.pk}}"><i class="far fa-bookmark"></i></button>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'registration:post:detail' pk=post.pk %}" class="post-card_link">
    <div class="card-body p-0">
        <div class="card-title h3 px-2 title text-dark">{{post.title}}</div>
        <div class="card-subtitle text-muted px-2">{{post.sub_title}}</div>
        <div class="card-text">
            <img src="
            {% if post.head_img %}
            {{post.head_img.url}}
            {% else %}
            {% static 'registration/imgs/bg.jpg'  %}
            {% endif %}
            " alt="Its just a joke" class="img-fluid post-front-img mx-auto d-block">
        </div>
    </a>     
    </div>
    <!-- footer -->
    <div id="share_panel-{{post.pk}}" class="px-1" style="display:none">
        <div class="sharethis-inline-share-buttons my-2" data-url="{{ request.get_host }}{% url 'registration:post:detail' pk=post.pk %}"></div>
    </div>
    <div class="card-footer py-1 px-0 d-flex align-items-center" style="height:30px">
        
        <div><button class="btn btn-sm mx-2 btn-outline-danger nofocus py-0
            {% if request.user.id in post.all_likers %} active {% endif %}
            " id="like_{{post.pk}}" title="Like it" onclick="likeit({{post.pk}})"><i class="far fa-heart" title="Love it"></i></button></div>
        
        <div><a href="{% url 'registration:post:detail' pk=post.pk %}#comment" class="btn btn-sm mx-2 btn-outline-info py-0" title="Comments"><i class="far fa-comment-alt"></i></a></div>
        
        <button class="btn btn-sm mx-2 btn-outline-primary nofocus py-0" onclick="showShare('#share_panel-{{post.pk}}')" type="button" id="share_btn" title="Share"><i class="fas fa-share"></i></button>

        <div class="dropup ml-auto">
            <button class="btn btn-sm mx-2 btn-outline-dark dropdown-toggle notificon border-0 rounded-circle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="more">
                <i class="fas fa-cog"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                {% if request.user == post.user %}
                    
                {% else %}
                <a class="dropdown-item disable" href="#"><i class="fas fa-exclamation text-danger mr-1"></i> Report</a>
                {% endif %}
                
                <a class="dropdown-item disable" href="#">beta</a>
                {% if post.user == request.user and request.resolver_match.url_name == 'myprofile' %}
                <a class="dropdown-item " href="{% url 'registration:post:delete' pk=post.pk %}"><i class="far fa-trash-alt"></i> Delete</a>
                {% endif %}
            </div>
        </div>
    </div>  
</div>