{% load static %}
{% if not lock %}
<!-- title section -->
<div class="mx-lg-5 px-lg-5 mx-2 row" >
    <div class="col" >
        <h1 class="title display-4">{{post.title}}</h1>
        <p class="lead text-muted">{{post.sub_title}}</p>
        <div class="card border-0" style="max-width: 18rem;">
            <div class="card-body p-0 row">
                    <div class="col-3 pl-4">
                            <div class="border post-user-img rounded-circle" 
                            {% if post.user.userextend.get_profile_pics.first.img %}
                            style="background-image: url('{{post.user.userextend.get_profile_pics.first.img.url}}');"
                            {% else %}
                            style="background-image: url("{% static 'registration/imgs/user.png' %}");"
                            
                            {% endif %}>
                        </div>
                    </div>
                    <div class="col-9 pl-0 py-2 text-info">
                        <small class="d-block  font-weight-light">
                            <a href="
                            {% if post.user == request.user %}
                                {% url 'registration:myprofile' %}
                            {% else %}
                                {% url 'registration:userprofile' pk=post.user.pk %}
                            {% endif %}">{{post.user.get_full_name}}</a>
                            {% if not me %}
                            <input type="button" id="follow_btn" onclick="follow({{user.pk}}, '{{ csrf_token }}')"
                            {% if post.user in request.user.userextend.get_following %}
                                class="btn btn-sm btn-outline-danger p-0 px-1 ml-1"
                                value='Unfollow'
                            {% else %}
                                class="btn btn-sm btn-outline-primary p-0 px-1 ml-1"
                                value="Follow"
                            {% endif %}>
                            {% endif %}
                        </small>
                    <small>{{post.created_on.date}} <i class="fa fa-star" data-toggle='tooltip' title='varified' data-placement='right'></i></small>
                    </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<!-- content -->
<div class="container mt-3 first-big">
    {% if post.head_img %}
    <img src="{{post.head_img.url}}" alt="" class="img-fluid rounded d-inline-block head-img">
    {% endif %}
    <div class="px-2">
        {% autoescape off %}  {{post.content}} {% endautoescape %}
    </div>
</div>

<hr>


<!-- comment -->
<h5 class="text-center underlined">Comments</h5>
<div class="row mx-2">
        <div class="pb-5 col-lg-6 offset-lg-3">  
            <div class="card-text d-flex flex-column" id="comment-box">
                {% for c in post.comment_set.all %}
                    <span class="post-comment-text">
                        <span class="post-username"><a href="#" class="link-no-style">{{c.who.get_full_name}}</a> :</span>
                        <small class="text-muted">{{c.content|safe}}
                        <a href="#"><i class="fa fa-thumbs-up"></i> (34)</a>
                        <a href="#"><i class="fa fa-comments-o"></i> (2)</a></small>
                    </span>
                {% empty %}
                <small class="d-block text-center text-muted">No Comments yet</small>
                {% endfor %}
            </div>
            <small class="p-0 text-center d-block" id="comment-box-opener"><i class="fa fa-ellipsis-h"></i></small>
            <div id="comment"></div>
            <form action="{% url 'registration:post:comment' %}" method="POST" id="form-unlock" class="d-none my-1">
            {% csrf_token %}
            <input type="hidden" name='post' value="{{post.pk}}" >
            <textarea name="comment" class="form-control-sm px-lg-4 form-control w-100 py-1"
                placeholder="Write something here ..." id="comment-area"></textarea>
            </form>
        </div>
</div>

<!-- function btns -->
<div class="d-flex justify-content-center bg-light py-2 fixed-bottom" >
    <button class="btn btn-sm mx-2 btn-outline-danger rounded-circle nofocus
    {% if request.user.id in post.all_likers %} active {% endif %}" 
    id="like_{{post.pk}}" title="Like it" onclick="likeit({{post.pk}})"><i class="far fa-heart" title="Like it"></i></button>
    <button class="btn btn-sm mx-2 btn-outline-primary rounded-circle" title="share"><i class="fas fa-share"></i></button> 
    <button type="submit" class="btn btn-sm mx-2 btn-outline-info d-none" id="form-btn" title="Add Comment" form="form-unlock">
        <span class="d-md-none"><i class="fa fa-comments-o"></i></span>
        <span class="d-md-inline d-none">Add comment</span>
    </button>
</div>

{% else %}
<div class="d-flex">
    <div class="mx-auto text-center">
    <img src="{% static 'registration/imgs/rushp.png' %}" alt="Rush Protection" class="img-fluid" style="max-width:250px;"><br>
    <p class="lead">It seems you do not follow {{post.user.get_full_name}}</p>
    <p class="lead">This post is protected by <span class="text-primary">Rush</span><span class="text-warning">Protection</span>. Please Follow <br> 
        <a href="{% url 'registration:userprofile' pk=post.user.pk %}">{% if post.user.userextend.gender == 'm' %} Mr.{% elif post.user.userextend.gender == 'f' %} Ms. {% endif %}
        {{post.user.get_full_name}}</a> to read this post.
    </p>
    <p><input type="button" id="follow_btn" onclick="follow({{user.pk}}, '{{ csrf_token }}')" class="btn btn-outline-primary mt-3" value="Follow"></p>
    </div>
</div>
{% endif %}