{% load static %}
<div class="card mb-2 post-card-mw shadow mx-lg-auto rounded-0">
        <a href="{% url 'registration:post:detail' pk=post.pk %}" class="text-muted">    
        <div class="card-img-top bookmark-img"  
        {% if post.head_img %}
            style="background-image: url('{{post.head_img.url}}');"
        {% else %}
            style="background-image: url('/static/registration/imgs/user.png');"
        {% endif %} ></div>
        </a>
        <div class="card-img-overlay bg-dark py-2" style="height:60px;opacity:0.95">
            <small class="card-title d-flex flex-row align-items-center">
                <a id="post_id_{{post.pk}}" href="{% if post.user == request.user %}{% url 'registration:myprofile' %}{% else %}{% url 'registration:userprofile' pk=post.user.pk %}{% endif %}" data-user='{{ post.user.username }}' onmouseover="pop(this)">
                <div class="border bookmark-user-img rounded-circle" 
                {% if post.user.userextend.get_profile_pics|length > 0 %}
                    style="background-image: url('{{post.user.userextend.get_profile_pics.first.img.url}}');"
                {% else %}
                    style="background-color:white;background-image: url('{% static post.user.userextend.get_avatar_url %}');"
                {% endif %}
                ></div>
                </a>
                <div class="">
                    <span class="text-white shadow-sm px-3 rounded bg-dark ml-2 border" style="opacity:0.6;">{{post.user.get_full_name}} &middot; 2 min read</span>
                    <span class="text-white shadow-sm px-3 rounded bg-dark ml-2 border d-block mt-1" style="opacity:0.6;">posted {{post.updated_on|timesince}} ago</span>
                </div>
                
                <div class="ml-auto">
                        {% if request.user == post.user %}
                        <span class='text-muted' id="draft_{{post.pk}}">
                            {% if post.draft %}
                            <i class="fas fa-lock text-muted"></i> Draft
                            {% else %}
                            <i class="fas fa-unlock text-info"></i> Live
                            {% endif %}
                        </span>
                        {% endif %}
                        <a onclick="bookmark({{post.id}})" class="text-light cursor" title="Bookmark" id="bookmark_{{post.pk}}"> 
                            {% if post.pk in request.user.userextend.get_bookmarks %}
                            <i class="fas fa-bookmark"></i>
                            {% else %}
                            <i class="far fa-bookmark"></i>
                            {% endif %}
                        </a> 
                    

                <!-- dropdown -->
                    <div class="dropdown d-inline-block">
                        <a class="text-white dropdown-toggle notificon btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        
                        <div class="dropdown-menu p-0 dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            {% if post.user == request.user %}
                            <a href="{% url 'registration:post:delete' pk=post.pk %}" class="dropdown-item"><i class="fas fa-trash text-danger"></i> Delete post</a>  
                            <a class="dropdown-item" href="#" onclick="draft({{post.pk}},'{{csrf_token}}')"><i class="fas fa-exchange-alt"></i>  Draft switch</a>
                            {% endif %}
                            
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>     
            </small>
        </div>
        
        <div class="card-body pb-0 z-back">
            <a href="{% url 'registration:post:detail' pk=post.pk %}" class="text-muted">
                <h5 class="card-title font-secondary">{{post.title}}</h5>
                <p class="card-text font-italic border-left pl-1 py-1 mb-1">{{post.sub_title}}</p>
                <p class="card-text m-0 font-main">{{post.get_short_story}}</p>
            </a>
            <p class="card-text">
                <div class="text-center">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-sm mx-2 btn-outline-info nofocus py-0 btn-block
                            {% if request.user.id in post.all_likers %} active {% endif %}
                            " id="like_{{post.pk}}" title="Like it" onclick="likeit({{post.pk}})"><i class="far fa-heart" title="Love it"></i>&nbsp;{% if post.upvote > 0 %}{{ post.upvote }}{% endif %}</button>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'registration:post:detail' pk=post.pk %}#comment" class="btn btn-sm mx-2 btn-outline-info nofocus py-0 btn-block" title="Comments"><i class="far fa-comment-alt"></i>&nbsp;{% if post.get_comments_count > 0 %}{{ post.get_comments_count }}{% endif %}</a>
                        </div>
                    </div>
                    <div class="sharethis-inline-share-buttons mt-1" style="max-height:33px" data-url="{% url 'registration:post:detail' pk=post.pk %}"></div>
                </div></p>
        </div>
</div>